<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="well well-lg">
      <h2>Users</h2>
      <ul style="list-style: none;">


        <% @users.each do |user| %>
            <li>
              <%= link_to user_path(user.id) do %>
                  <i class="glyphicon glyphicon-user"></i> <%= user.email %>
              <% end %>
            </li>
        <% end %>


      </ul>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="">
      <h2>Tweets</h2>
      <!--<a class="btn btn-large btn-default" href="#"><i class="glyphicon glyphicon-edit"></i> New Tweet</a>-->
      <%= link_to new_tweet_path, class: "btn btn-large btn-default" do %>
        <i class="glyphicon glyphicon-edit"></i> New Tweet
      <% end %>
      <hr />

      <% @tweets.each do |tweet| %>
          <div class="well well-lg">
            <h2>By: <%= tweet.user.email %></h2>
            <pre>
              <%= tweet.micropost %>
            </pre>
            <p><%= tweet.created_at.localtime %></p>
          </div>
      <% end %>

    </div>
  </div>
</div>
